.verify-password {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.verify-password-tips {
  text-align: center;
  font-size: 18px;
}
.verify-password-ipt {
  width: 84%;
  margin: 30px auto 30px;
}
span.iconfont {
  font-size: 24px;
}
.setPasswordTip {
  color: #999;
  padding: 0 30px;
}
.passwordStDone.am-button {
  background-color: red;
  border-radius: 30px;
  /* padding-top: 40px; */
  margin: 40px auto 20px;
  width: 86%;
  text-align: center;
  color: #fff;
}
.query {
  padding-left: 40px;
  color: #888;
}
.query span {
  color: blue;
}
